Repository manselmi/taskfile-library: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-json, check-toml, check-yaml, debug-statements

check-json:
  name: check-json
  entry: pixi run -e lint -- check-json
  language: system

check-toml:
  name: check-toml
  entry: pixi run -e lint -- check-toml
  language: system

check-yaml:
  name: check-yaml
  entry: pixi run -e lint -- check-yaml
  language: system

debug-statements:
  name: debug-statements
  entry: pixi run -e lint -- debug-statement-hook
  language: system

Default solve group
  pixi.toml
Due: check-toml

Update gitignore
  .gitignore
Due: none

pixi: add run task
  include/pixi/taskfile.yaml
Due: check-yaml

pixi: add exec task
  include/pixi/taskfile.yaml
Due: check-yaml

pixi: add clean task
  include/pixi/taskfile.yaml
Due: check-yaml

Add pixi to README
  README.md
Due: none

Update requirements
  pixi.toml
Due: check-toml

Misc updates
  .gitattributes
  .gitignore
  .pre-commit-config.yaml
Due: check-yaml

Update requirements
  pixi.lock
Due: none

Update requirements
  pixi.lock
  pixi.toml
Due: check-toml

Update requirements
  .pre-commit-config.yaml
  pixi.lock
  pixi.toml
Due: check-toml, check-yaml

Update default Python version
  include/uv/taskfile.yaml
Due: check-yaml

Path conditions:
  check-json: any of: \.json$
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  debug-statements: any of: \.py$
