Repository manselmi/taskfile-library: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-json, check-toml, check-yaml, debug-statements

check-json:
  name: check-json
  entry: pixi run --no-progress -e lint -- check-json
  language: system

check-toml:
  name: check-toml
  entry: pixi run --no-progress -e lint -- check-toml
  language: system

check-yaml:
  name: check-yaml
  entry: pixi run --no-progress -e lint -- check-yaml
  language: system

debug-statements:
  name: debug-statements
  entry: pixi run --no-progress -e lint -- debug-statement-hook
  language: system

Update requirements
  pixi.lock
Due: none

Update requirements
  pixi.lock
  pixi.toml
Due: check-toml

Fix launchctl:bootout
  include/launchctl/taskfile.yaml
  pixi.lock
  pixi.toml
Due: check-toml, check-yaml

pre-commit → prek
  .pre-commit-config.yaml
  pixi.lock
  pixi.toml
  prek.toml
Due: check-toml, check-yaml

prek → mise + hk
  .gitattributes
  .gitignore
  hk.pkl
  mise.lock
  mise.toml
  pixi.lock
  pixi.toml
  prek.toml
Due: check-toml

Update gitignore
  .gitignore
Due: none

mise config
  mise.toml
Due: check-toml

mise config
  mise.lock
  mise.toml
Due: check-toml

Update requirements
  mise.lock
Due: none

Update requirements
  hk.pkl
  mise.lock
  mise.toml
Due: check-toml

hk config
  hk.pkl
  mise.lock
Due: none

Update requirements
  hk.pkl
  mise.lock
Due: none

Update mise.toml
  hk.pkl
  mise.lock
  mise.toml
Due: check-toml

Update mise.toml
  mise.toml
Due: check-toml

Update requirements
  mise.toml
Due: check-toml

Path conditions:
  check-json: any of: \.json$
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  debug-statements: any of: \.py$
